// CONFIGURATION LAYER [BRAND] ##############################################

	// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++
		
		//A.1. Colors
		
		$cw-maroon:			#EE2F7F;  
		$cw-aqua:			#72CBD1;
		$cw-greyLighter:	#E7E7E8;
		$cw-grey:			#65615E;
		$cw-lightgrey:		#F4EDE7;
		$cw-greyDarker:		#404042;
		$cw-greyDarkest:    #231F20;
		$cw-purple:			#A5439A;
		$cw-green:			#C1D72D;
		$cw-greenDark:		#008771;
		$cw-midgrey:		#66615D;
		$cw-orange:			#F37736;
		$cw-orangeLight:	#F1EDEA;
		$cw-beige:			#F0ECE9;
		$cw-beigeDark:		#BBB2A6;

        $cw-pink:           #EE2375;
        $cw-pinkDark:       #CE2669;
        $cw-brown:          #BBB2A6;
        $cw-purpleDark:     #A54399;
		$cw-teal:           #1E9694;
        $cw-brownLight:     #F1EDEA;
        $cw-brownDark:      #66615D;
        $cw-brownDarker:	#AFA79B;
        $cw-blue:           #70CBD2;



		
	// A.END ++++++++++++++++++++++++++++++++++++++++++++++++
		
// END OF FILE ##############################################