// 3. PAGE [ 3.1. INDEX PAGE ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.page-template-page-contact-php {

    // A.1. BANNER ----------------------------------------------------------------------------------------------------
    
    .image-banner {
                     
        background: $brownDark url('../images/site/banner-contact.jpg') no-repeat;
        background-size: cover;

    }
    
    .customcontactform {

        .submit {

            border: 0;
            background-image: url('../images/svg/buttonArrow-grey.svg');
            color: $brownDark;

        }
           
    }
    

    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. PAGE BODY -------------------------------------------------------------------------------------------------

  

    // A.2. END -------------------------------------------------------------------------------------------------------

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .page-template-page-contact-php {
        
        .customcontactform {
            
            h4 {
                
                margin-bottom: 0;   
                
            }

            .submit {

                margin-top: 0;
            }
        }   
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .page-template-page-contact-php {
        
        .cpt, .jhb {
            
            h3, p {
                
                margin-bottom: $baseline/1.33;
                line-height: $baseline/1.33;
                
            }
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################