# Ignore configuration files that may contain sensitive information.

sites/*/settings*.php

# Ignore paths that contain user-generated content.

sites/*/files
sites/*/private
sites/all/themes/textshelf/_system/.sass-cache
sites/all/themes/textshelf/_system/node_modules
sites/all/themes/textshelf/_system/_bower.cache

sites/all/modules
sites/all/libraries
