// 1. SECTION [ 1.12. DRUPAL ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MENUES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1.1. TABBED MENU -------------------------------------------------------------------------------------------------

.tabbed {

    &.navigation {
        
        border-bottom-width: 0;
        
        ul {
            
            margin: 0!important;
            
            li {
                
                a {
                    
                    padding: $baseline-small $baseline;
                    display: inline-block;
                    margin-bottom: -1px;
                    
                }
            }
        }
    }
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.2. USER MENU ---------------------------------------------------------------------------------------------------

.content {
    
    .menu {
        
        margin: $baseline 0;
        padding-left: 0;
        
        .leaf {
            
            list-style-type: none;
            display: inline-block;
            padding: 0;
            margin: 0 $baseline-small;
            
            &.first {
                
                margin-left: 0;   
                
            }
            
            a {
                
                padding: $baseline-small;
                display: block;
                background: $greyLighter;
                border-radius: 1px;
                border-top: 2px solid;
                font-weight: bold;
                letter-spacing: 1pt;
                word-spacing: 0pt; 
                text-decoration: none;
                text-align: center;
                font-size: $normal;
                cursor: pointer;
                border: 0;
                color: $grayDark !important;
                border-color: $gray;

                &.active {

                    background-color: $orange;
                    color: $white !important;
                    border-color: $orange;

                }

                &:hover {

                    background-color: $orange;
                    color: $white !important;
                    border-color: $orangeDark;

                }
                
            }
        }
    }
}

// A.1.2. END ---------------------------------------------------------------------------------------------------------

// A.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.2. SEARCH ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.2.1. Search Block ------------------------------------------------------------------------------------------------

#search-block-form {
    
    position: relative;
    
    .container-inline {
        
        .element-invisible {display: none;}
        
        .form-item-search-block-form {

            display: inline-block;
            position: relative;
            vertical-align: top;
            margin: 0;
            
            input {
                
                margin: 0;   
                
            }

        }

        #edit-actions {
            
            display: inline-block;
            position: relative;

            &:before {

                content: ""; 
                display: block; 
                padding-top: 100%; 

            }

            .form-submit {

                position: absolute;
                width: 100%;
                height: auto;
                top: 0;
                left: 0;

            }
        }
    }
}

// A.2.1. END ---------------------------------------------------------------------------------------------------------

// A.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// B. SMALL STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(small) {

    // A.2.1. Search Block --------------------------------------------------------------------------------------------

    #search-block-form {

        .container-inline {

            .form-item-search-block-form {

                width: 83%;
            }

            #edit-actions {

                width: 15%;
            }
        }
    }

    // A.2.1. END -----------------------------------------------------------------------------------------------------

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    // A.2.1. Search Block --------------------------------------------------------------------------------------------

    #search-block-form {

        .container-inline {

            .form-item-search-block-form {

                width: 83%;
            }

            #edit-actions {

                width: 15%;
            }
        }
    }

    // A.2.1. END -----------------------------------------------------------------------------------------------------

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.2.1. Search Block --------------------------------------------------------------------------------------------

    #search-block-form {

        .container-inline {

            .form-item-search-block-form {

                width: 93%;
            }

            #edit-actions {

                width: 5%;
            }
        }
    }

    // A.2.1. END -----------------------------------------------------------------------------------------------------

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.2.1. Search Block --------------------------------------------------------------------------------------------

    #search-block-form {

        .container-inline {

            .form-item-search-block-form {

                width: 93%;
            }

            #edit-actions {

                width: 5%;
            }
        }
    }

    // A.2.1. END -----------------------------------------------------------------------------------------------------

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.2.1. Search Block --------------------------------------------------------------------------------------------

    #search-block-form {

        .container-inline {

            .form-item-search-block-form {

                width: 93%;
            }

            #edit-actions {

                width: 5%;
            }
        }
    }

    // A.2.1. END -----------------------------------------------------------------------------------------------------

}

// F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################