// 1. SECTION [ 1.12. DRUPAL ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MENUES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1.1. TABBED MENU -------------------------------------------------------------------------------------------------

.tabbed {

    &.navigation {
        
        border-bottom-width: 0;
        
        ul {
            
            margin: 0!important;
            
            li {
                
                a {
                    
                    padding: $baseline-small $baseline;
                    display: inline-block;
                    margin-bottom: -1px;
                    
                }
            }
        }
    }
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.2. USER MENU ---------------------------------------------------------------------------------------------------

.content {
    
    .menu {
        
        margin: $baseline 0;
        padding-left: 0;
        
        .leaf {
            
            list-style-type: none;
            display: inline-block;
            padding: 0;
            margin: 0 $baseline-small;
            
            &.first {
                
                margin-left: 0;   
                
            }
            
            a {
                
                padding: $baseline-small;
                display: block;
                background: $greyLighter;
                border-radius: 1px;
                border-top: 2px solid;
                font-weight: bold;
                letter-spacing: 1pt;
                word-spacing: 0pt; 
                text-decoration: none;
                text-align: center;
                font-size: $normal;
                cursor: pointer;
                border: 0;
                color: $grayDark !important;
                border-color: $gray;

                &.active {

                    background-color: $orange;
                    color: $white !important;
                    border-color: $orange;

                }

                &:hover {

                    background-color: $orange;
                    color: $white !important;
                    border-color: $orangeDark;

                }
                
            }
        }
    }
}

// A.1.2. END ---------------------------------------------------------------------------------------------------------

// A.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// A.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. SMALL STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(small) {

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
}

// F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################