// 1. SECTION [ 1.10. CARDS ]  ########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. AD CARD -------------------------------------------------------------------------------------------------------

// A.1.1. Ad Card Display

.view-content {
    
    @extend .grid;
    margin-left: 0!important;
    margin-top: $baseline-small;
    
    .node-classified {
        
        @extend .grid__item;
        @extend .mobile--one-whole;
        @extend .small--one-whole;
        padding-left: 0!important;
        
        position: relative;
        
    }
    
}

// A.1.2. Card Content - Meta Data

.meta {
    
    &.submitted {
        
        span {
            
            font-size: $x-small;   
            
        }
    }
}

// A.1.2. HOME PAGE ADS

.view-featured-ads {

    .view-content {
                    
        .node-classified {

            @extend .one-quarter;
            @extend .mobile--one-half;
            @extend .small--one-half;
            position: relative;
            overflow: hidden;
            margin-bottom: $baseline-small;
            
            &:before {
                
                content: "";
                display: block;
                padding-top: 120%;
                
            }
            
            h2 {
                
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                padding: $baseline-small 0;
                background: rgba(0, 0, 0, 0.9);
                margin: 0;
                z-index: 10;
                text-indent: $baseline-small;
                
            }
            
            .meta {
                
                &.submitted {
                
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: $baseline-smaller;
                    z-index: 10;
                    box-sizing: border-box;
                    line-height: normal;
                    background: rgba(20,20,20,0.3);
                    
                    span {
                        
                        color: $grayLighter;
                        text-shadow: 1px 1px 1px $black;
                            
                    }
                    
                }
            }
            
            .content {
                
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                z-index: 1;
                
                
                a {
                    
                    display: block;
                    
                    img {
                        
                        width: 100%;
                        height: auto;
                        
                    }
                    
                }
                
                p {
                    
                    position: absolute;
                    bottom: 40px;
                    left: 0;
                    right: 0;
                    padding: $baseline-small;
                    z-index: 10;
                    margin: 0;
                    background: rgba(100,100,100,0.4);
                    color: $white;
                    text-shadow: 1px 1px 1px $black;
                    
                }
                
                span {
                    
                    position: absolute;
                    top: 60px;
                    
                    &:first-of-type {
                        
                        left: 0;
                        z-index: 200;
                        background: $orange;
                        
                    }
                    
                    &:last-of-type {
                        
                        right: 0;
                        z-index: 300;
                        background: $yellow;
                        
                    }
                    
                }
                
            }
            
            .link-wrapper {
                
                display: none;    
                
            }
        }   
    }
}


// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################