// 1. OBJECT [ 1.1. PAGES ] ###########################################################################################

// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.nav {
    
    width: 100%;
        
    margin: 0;
    padding: 0;
        
    li {

        list-style-type: none;
        display: inline-block;

    }

}
	
// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. SMALL STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(small) {

    .nav {

        &.f-nav {

            display: none;   

        }

        &.m-nav {

            display: none;
            
            &.show {
                
                display: block;
                
            }
        }
        
        .burger {
            
            display: block;   
            
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .nav {

        &.f-nav {

            display: none;

        }

        &.m-nav {

            display: none;
            
            &.show {
                
                display: block;
                
            }
        }
        
        .burger {
            
            display: block;   
            
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    

    .nav {

        &.f-nav {

            display: none;   

        }

        &.m-nav {

            display: none;
            
            &.show {
                
                display: block;
                
            }
        }
        
        .burger {
            
            display: block;   
            
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .nav {

        &.f-nav {

            display: block;   

        }

        &.m-nav {

            display: none;

        }
        
        .burger {
            
            display: none;   
            
        }
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .nav {

        &.f-nav {

            display: block;   

        }

        &.m-nav {

            display: none;

        }
        
        .burger {
            
            display: none;   
            
        }
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################