// 1. OBJECT [ 1.1. PAGES ] ###########################################################################################

// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

#menu-item-455 {
    
    position: relative;
    outline: none;
    font-size: 0.1px;
    padding: 0;
    margin: 0;
    
    a {
        
        background: url('../images/svg/icon-home.svg');
        background-position: center right;
        background-size: 55% auto; 
        background-repeat: no-repeat;
        display: block !important;
        border: 0 !important;
        color: $white !important;
    }
}


	
// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #menu-item-455 {
    
        width: 40px;
        height: 40px;
        margin-right: 0 !important;
    
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    #menu-item-455 {
    
        width: 40px;
        height: 40px;
        margin-right: 0 !important;
    
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    .menu-item {
    
        margin-right: $baseline/3;

    }
    
    .links-socialMedia,
    .contact-numbers {
        
        padding-left: $baseline/2;   
        
    }
    
    #menu-item-455 {
    
        width: 40px;
        height: 30px;
        margin-right: $baseline/3 !important;
    
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
    .menu-item {
    
        margin-right: $baseline/3;

    }
    
    .links-socialMedia,
    .contact-numbers {
        
        padding-left: $baseline;   
        
    }
    
    #menu-item-455 {
    
        width: 40px;
        height: 30px;
        margin-right: $baseline/3 !important;
    
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################