// 1. SECTION [ 1.10. GRIDS ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.grid {
    
    margin-left: 0!important;
    
    .grid__item {
    
        
        
    }
    
    // A.1. UTILITY CLASSES -------------------------------------------------------------------------------------------
				
    .no-mobile {
        
        display: inline-block;
        
    }
    
    img {
    
        width: 100%;
        height: auto;
    
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. GENERIC SQUARE TYPE ---------------------------------------------------------------------------------------
				
    .square {
    
        @extend .grid__item;
        @extend .one-third;
        @extend .mobile--one-whole;
        padding-left: 0!important;
        
    }
    
    // A.2.1. Sets content width & aspect ratio -------------------------------------------------------------------

    .sizer {

        @include aspect-ratio (100%, 100%);

    }

    // A.2.2. Sets content inner ----------------------------------------------------------------------------------

    .scaler {

        @include absolute ($baseline);

    }

    // A.2.3. first block stuff -----------------------------------------------------------------------------------

    .first {


    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------
    
    // A.3. GENERIC SQUARE TYPE ---------------------------------------------------------------------------------------
				
    .inner-square {
    
        @extend .grid__item;
        @extend .one-half;
        @extend .mobile--one-whole;
        padding-left: 0!important;
        
    }
    
    // A.3. END -------------------------------------------------------------------------------------------------------
    
    // A.4. GENERIC LARGE SQUARE TYPE ---------------------------------------------------------------------------------
				
    .square-large {
    
        @extend .grid__item;
        @extend .one-half;
        @extend .mobile--one-whole;
        padding-left: 0!important;
    
    }
    
    // A.4. END -------------------------------------------------------------------------------------------------------        
    // A.4. GENERIC LARGE SQUARE TYPE ---------------------------------------------------------------------------------
				
    .square-medium {
    
        @extend .grid__item;
        @extend .one-third;
        @extend .mobile--one-half;
        padding-left: 0!important;
    
    }
    
    // A.4. END -------------------------------------------------------------------------------------------------------    
    // A.4. GENERIC SMALL SQUARE TYPE ---------------------------------------------------------------------------------
				
    .square-small {
    
        @extend .grid__item;
        @extend .one-sixth; 
        @extend .mobile--one-whole;
        padding-left: 0!important;
        
    }
    
    // A.4. END -------------------------------------------------------------------------------------------------------
            
    // A.5. RECTANGLE -------------------------------------------------------------------------------------------------
				
    .rectangle {
        
        @extend .grid__item;
        @extend .two-thirds;
        @extend .mobile--one-whole;
        @extend .tablet--one-whole;
        padding-left: 0!important;
    
    }
    
    // A.5. END -------------------------------------------------------------------------------------------------------
                    
    // A.5. RECTANGLE -------------------------------------------------------------------------------------------------
				
    .rectangle-large {
        
        @extend .grid__item;
        @extend .two-thirds;
        padding-left: 0!important;
    
    }
    
    // A.5. END -------------------------------------------------------------------------------------------------------
                
    // A.5. RECTANGLE -------------------------------------------------------------------------------------------------
				
    .page-square {
        
        @extend .grid__item;
        @extend .one-third;
        @extend .mobile--one-whole;
    
    }
    
    // A.5. END -------------------------------------------------------------------------------------------------------
                
    // A.5. RECTANGLE -------------------------------------------------------------------------------------------------
				
    .page-rectangle {
        
        @extend .grid__item;
        @extend .two-thirds;
        @extend .mobile--one-whole;
    
    }
    
    // A.5. END -------------------------------------------------------------------------------------------------------
    
    // A.3. OVERLAY ---------------------------------------------------------------------------------------------------
    
    
    // A.3. END -------------------------------------------------------------------------------------------------------
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    .grid {
    
        // B.1. UTILITY CLASSES --------------------------------------------------------------------------------------

        .no-mobile {

            display: none;

        }

        // B.1. END --------------------------------------------------------------------------------------------------

    }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################