// 1. SECTION [ 1.7. SECTIONS ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. GRID TEXT STRUCTURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    body {
			
        color: $cw-midgrey; 

    }

    a {
				
        outline: none;
        transition: background-color 0.3s ease-in, color 0.3s ease-in 0.1s;

        &:hover {

            transition: background-color 0.2s ease-out, color 0.2s ease-out 0.1s;
            color: $gray;
            text-decoration: none;
        }												
    }

    .not-active {

        display: none;

    }

    // A.1.1. BLOG POST GRIDS -----------------------------------------------------------------------------------------
    


    // A.1.1. END -----------------------------------------------------------------------------------------------------

    // A.1.2. FORM ELEMENTS -------------------------------------------------------------------------------------------


    form input {

        border: 0;

    }

    input {

        @include clearfix();
        border:0;
    }

    .form-button {

        font-size: $medium;
        color: $cw-midgrey;

    }

    // A.1.2. END -----------------------------------------------------------------------------------------------------

// A.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    textarea {
        
        height: 40px !important;   
        
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    textarea {
        
        height: 80px !important;   
        
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    textarea {
        
        height: 150px !important;   
        
    }
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################