// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

#masthead {
    
    .grid {
        
        position: relative;
        
        .text-logo {
            
            @extend .grid__item;
            @extend .one-tenth;
            padding-left: 0!important;
            
        }
        
        .nav {
            
            @extend .grid__item;
            @extend .nine-tenths;
            padding-left: 0!important;
        
        }
    }
    
    .mobi-reveal {
        
        position: absolute;
        top: $baseline/2;
        right: $baseline/2;
        
        .svg-burger {
            
            width: 50px;
            height: 50px;
            fill: $yellow;
            
        }
    }
}


// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #masthead {

        .mobi-reveal {

            display: block;

        }
        
        .nav-main {
            
            display: none;
            @include position(fixed);
            background: $red;
            z-index: 200;
            
        }
    }
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    #masthead {

        .mobi-reveal {

            display: block;

        }
    }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    #masthead {

        .mobi-reveal {

            display: none;

        }
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################