// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. GENERAL STYLES ------------------------------------------------------------------------------------------------

.sidebar {
    
    position: relative;
    
    .aside-contact {
        
        @include background-image ();
        
    }

    h3 {
        
        color: $white;
        text-transform: uppercase;
        
    }
    
    p {
        
        color: $white;
        
    }
    
    a.button-white {
        
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        color: $white;
        
        &:hover {
            
            text-decoration: none;
            
        }
    }
    
    
    
    // A.1.1. Sidebar Categories --------------------------------------------------------------------------------------
    
    .widget {
        
        h3 {
         
            color: $pink;
            margin-left: 0;
            
        }
        
        ul {
            
            padding: 0;
            
            li {
                
                list-style-type: none;
                
                a {
                    
                    color: $brownDark;
                    
                    &:hover {
                        
                        text-decoration: none;
                        
                    }
                }
            }
        }
    }
    
    // A.1.1. END -----------------------------------------------------------------------------------------------------
    
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################