// 3. PAGE [ 3.1. INDEX PAGE ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.page-id-465 {

    // A.1. BANNER ----------------------------------------------------------------------------------------------------
    
    .image-banner {
                    
        background: $cw-brownDark url('../images/site/banner-about.jpg') no-repeat;
        background-size: cover;
        
    }

    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. PAGE BODY -------------------------------------------------------------------------------------------------

    .square {
        
        overflow: hidden;
        @include cw-image-zoom();
        
    }
    
    .rectangle-large {
        
        position: relative;
        left: 0;

    }
    
    .reveal-body {
        
        background: $cw-brownLight;
        
    }

    // A.2. END -------------------------------------------------------------------------------------------------------

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

 
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    .page-id-465 {
        
        .reveal-body {
            
            p {
                
                margin-bottom: $baseline/6;
                font-size: $small;
                line-height: $baseline/1.5;
                
            }
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .page-id-465 {
        
        .reveal-body {
            
            p {
                
                margin-bottom: $baseline/2;
                font-size: $small;
                line-height: $baseline/1.33;
                
            }
        }
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################