@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
.message {
  display: block;
  padding: 12px;
  margin-bottom: 24px;
}
.message h4, .message p {
  margin: 0;
}
.message.info {
  background: #ccf2ff;
}
.message.info h4, .message.info p {
  color: #0099cc;
}

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -20px;
  /* [3] */
  letter-spacing: -0.31em;
}

/* Opera hack */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item, .grid .square, .grid .inner-square, .grid .square-large, .grid .square-medium, .grid .square-small, .grid .rectangle, .grid .rectangle-large, .grid .page-square, .grid .page-rectangle {
  display: inline-block;
  /* [1] */
  padding-left: 20px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  /* [5] */
  box-sizing: border-box;
  /* [5] */
  letter-spacing: normal;
  word-spacing: normal;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid__item, .grid .grid--rev > .square, .grid .grid--rev > .inner-square, .grid .grid--rev > .square-large, .grid .grid--rev > .square-medium, .grid .grid--rev > .square-small, .grid .grid--rev > .rectangle, .grid .grid--rev > .rectangle-large, .grid .grid--rev > .page-square, .grid .grid--rev > .page-rectangle {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid__item, .grid .grid--full > .square, .grid .grid--full > .inner-square, .grid .grid--full > .square-large, .grid .grid--full > .square-medium, .grid .grid--full > .square-small, .grid .grid--full > .rectangle, .grid .grid--full > .rectangle-large, .grid .grid--full > .page-square, .grid .grid--full > .page-rectangle {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right;
}
.grid--right > .grid__item, .grid .grid--right > .square, .grid .grid--right > .inner-square, .grid .grid--right > .square-large, .grid .grid--right > .square-medium, .grid .grid--right > .square-small, .grid .grid--right > .rectangle, .grid .grid--right > .rectangle-large, .grid .grid--right > .page-square, .grid .grid--right > .page-rectangle {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center;
}
.grid--center > .grid__item, .grid .grid--center > .square, .grid .grid--center > .inner-square, .grid .grid--center > .square-large, .grid .grid--center > .square-medium, .grid .grid--center > .square-small, .grid .grid--center > .rectangle, .grid .grid--center > .rectangle-large, .grid .grid--center > .page-square, .grid .grid--center > .page-rectangle {
  text-align: left;
}

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item, .grid .grid--middle > .square, .grid .grid--middle > .inner-square, .grid .grid--middle > .square-large, .grid .grid--middle > .square-medium, .grid .grid--middle > .square-small, .grid .grid--middle > .rectangle, .grid .grid--middle > .rectangle-large, .grid .grid--middle > .page-square, .grid .grid--middle > .page-rectangle {
  vertical-align: middle;
}

.grid--bottom > .grid__item, .grid .grid--bottom > .square, .grid .grid--bottom > .inner-square, .grid .grid--bottom > .square-large, .grid .grid--bottom > .square-medium, .grid .grid--bottom > .square-small, .grid .grid--bottom > .rectangle, .grid .grid--bottom > .rectangle-large, .grid .grid--bottom > .page-square, .grid .grid--bottom > .page-rectangle {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -10px;
}
.grid--narrow > .grid__item, .grid .grid--narrow > .square, .grid .grid--narrow > .inner-square, .grid .grid--narrow > .square-large, .grid .grid--narrow > .square-medium, .grid .grid--narrow > .square-small, .grid .grid--narrow > .rectangle, .grid .grid--narrow > .rectangle-large, .grid .grid--narrow > .page-square, .grid .grid--narrow > .page-rectangle {
  padding-left: 10px;
}

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -40px;
}
.grid--wide > .grid__item, .grid .grid--wide > .square, .grid .grid--wide > .inner-square, .grid .grid--wide > .square-large, .grid .grid--wide > .square-medium, .grid .grid--wide > .square-small, .grid .grid--wide > .rectangle, .grid .grid--wide > .rectangle-large, .grid .grid--wide > .page-square, .grid .grid--wide > .page-rectangle {
  padding-left: 40px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths, .grid .inner-square, .grid .square-large {
  width: 50%;
}

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths, .grid .square, .grid .square-medium, .grid .page-square {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths, .grid .rectangle, .grid .rectangle-large, .grid .page-rectangle {
  width: 66.666%;
}

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
.one-sixth, .two-twelfths, .grid .square-small {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .mobile--one-whole, .grid .square, .grid .inner-square, .grid .square-large, .grid .square-small, .grid .rectangle, .grid .page-square, .grid .page-rectangle {
    width: 100%;
  }

  /**
   * Halves
   */
  .mobile--one-half, .mobile--two-quarters, .mobile--three-sixths, .mobile--four-eighths, .mobile--five-tenths, .mobile--six-twelfths, .grid .square-medium {
    width: 50%;
  }

  /**
   * Thirds
   */
  .mobile--one-third, .mobile--two-sixths, .mobile--four-twelfths {
    width: 33.333%;
  }

  .mobile--two-thirds, .mobile--four-sixths, .mobile--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .mobile--one-quarter, .mobile--two-eighths, .mobile--three-twelfths {
    width: 25%;
  }

  .mobile--three-quarters, .mobile--six-eighths, .mobile--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .mobile--one-fifth, .mobile--two-tenths {
    width: 20%;
  }

  .mobile--two-fifths, .mobile--four-tenths {
    width: 40%;
  }

  .mobile--three-fifths, .mobile--six-tenths {
    width: 60%;
  }

  .mobile--four-fifths, .mobile--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .mobile--one-sixth, .mobile--two-twelfths {
    width: 16.666%;
  }

  .mobile--five-sixths, .mobile--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .mobile--one-eighth {
    width: 12.5%;
  }

  .mobile--three-eighths {
    width: 37.5%;
  }

  .mobile--five-eighths {
    width: 62.5%;
  }

  .mobile--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .mobile--one-tenth {
    width: 10%;
  }

  .mobile--three-tenths {
    width: 30%;
  }

  .mobile--seven-tenths {
    width: 70%;
  }

  .mobile--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .mobile--one-twelfth {
    width: 8.333%;
  }

  .mobile--five-twelfths {
    width: 41.666%;
  }

  .mobile--seven-twelfths {
    width: 58.333%;
  }

  .mobile--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  .tablet--one-whole, .grid .rectangle {
    width: 100%;
  }

  /**
   * Halves
   */
  .tablet--one-half, .tablet--two-quarters, .tablet--three-sixths, .tablet--four-eighths, .tablet--five-tenths, .tablet--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .tablet--one-third, .tablet--two-sixths, .tablet--four-twelfths {
    width: 33.333%;
  }

  .tablet--two-thirds, .tablet--four-sixths, .tablet--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .tablet--one-quarter, .tablet--two-eighths, .tablet--three-twelfths {
    width: 25%;
  }

  .tablet--three-quarters, .tablet--six-eighths, .tablet--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .tablet--one-fifth, .tablet--two-tenths {
    width: 20%;
  }

  .tablet--two-fifths, .tablet--four-tenths {
    width: 40%;
  }

  .tablet--three-fifths, .tablet--six-tenths {
    width: 60%;
  }

  .tablet--four-fifths, .tablet--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .tablet--one-sixth, .tablet--two-twelfths {
    width: 16.666%;
  }

  .tablet--five-sixths, .tablet--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .tablet--one-eighth {
    width: 12.5%;
  }

  .tablet--three-eighths {
    width: 37.5%;
  }

  .tablet--five-eighths {
    width: 62.5%;
  }

  .tablet--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .tablet--one-tenth {
    width: 10%;
  }

  .tablet--three-tenths {
    width: 30%;
  }

  .tablet--seven-tenths {
    width: 70%;
  }

  .tablet--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .tablet--one-twelfth {
    width: 8.333%;
  }

  .tablet--five-twelfths {
    width: 41.666%;
  }

  .tablet--seven-twelfths {
    width: 58.333%;
  }

  .tablet--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .desk--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
    width: 33.333%;
  }

  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
    width: 25%;
  }

  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .desk--one-fifth, .desk--two-tenths {
    width: 20%;
  }

  .desk--two-fifths, .desk--four-tenths {
    width: 40%;
  }

  .desk--three-fifths, .desk--six-tenths {
    width: 60%;
  }

  .desk--four-fifths, .desk--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .desk--one-sixth, .desk--two-twelfths {
    width: 16.666%;
  }

  .desk--five-sixths, .desk--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .desk--one-eighth {
    width: 12.5%;
  }

  .desk--three-eighths {
    width: 37.5%;
  }

  .desk--five-eighths {
    width: 62.5%;
  }

  .desk--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .desk--one-tenth {
    width: 10%;
  }

  .desk--three-tenths {
    width: 30%;
  }

  .desk--seven-tenths {
    width: 70%;
  }

  .desk--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .desk--one-twelfth {
    width: 8.333%;
  }

  .desk--five-twelfths {
    width: 41.666%;
  }

  .desk--seven-twelfths {
    width: 58.333%;
  }

  .desk--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1200px) {
  /**
   * Whole
   */
  .desk-wide--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .desk-wide--one-half, .desk-wide--two-quarters, .desk-wide--three-sixths, .desk-wide--four-eighths, .desk-wide--five-tenths, .desk-wide--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .desk-wide--one-third, .desk-wide--two-sixths, .desk-wide--four-twelfths {
    width: 33.333%;
  }

  .desk-wide--two-thirds, .desk-wide--four-sixths, .desk-wide--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .desk-wide--one-quarter, .desk-wide--two-eighths, .desk-wide--three-twelfths {
    width: 25%;
  }

  .desk-wide--three-quarters, .desk-wide--six-eighths, .desk-wide--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .desk-wide--one-fifth, .desk-wide--two-tenths {
    width: 20%;
  }

  .desk-wide--two-fifths, .desk-wide--four-tenths {
    width: 40%;
  }

  .desk-wide--three-fifths, .desk-wide--six-tenths {
    width: 60%;
  }

  .desk-wide--four-fifths, .desk-wide--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .desk-wide--one-sixth, .desk-wide--two-twelfths {
    width: 16.666%;
  }

  .desk-wide--five-sixths, .desk-wide--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .desk-wide--one-eighth {
    width: 12.5%;
  }

  .desk-wide--three-eighths {
    width: 37.5%;
  }

  .desk-wide--five-eighths {
    width: 62.5%;
  }

  .desk-wide--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .desk-wide--one-tenth {
    width: 10%;
  }

  .desk-wide--three-tenths {
    width: 30%;
  }

  .desk-wide--seven-tenths {
    width: 70%;
  }

  .desk-wide--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .desk-wide--one-twelfth {
    width: 8.333%;
  }

  .desk-wide--five-twelfths {
    width: 41.666%;
  }

  .desk-wide--seven-twelfths {
    width: 58.333%;
  }

  .desk-wide--eleven-twelfths {
    width: 91.666%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 48px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.25em;
  margin-top: 24px;
  margin-bottom: 0;
}

h4 {
  font-size: 1em;
  margin-bottom: 24px;
}

h5 {
  font-size: 0.75em;
  margin-bottom: 24px;
}

h6 {
  font-size: 0.625em;
}

body,
p {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  margin: 0 0 24px 0;
  color: #66615D;
}

strong,
b {
  font-weight: bold;
}

code {
  line-height: 24px;
  margin: 0;
}

pre {
  margin: 0 0 24px 0;
}

a {
  color: #00BFFF;
  text-decoration: none;
}
a:hover {
  color: #0086b3;
  text-decoration: underline;
}

hr {
  margin: 23px 0;
  border: 0;
  border-bottom: 1px solid #555;
  line-height: 24px;
}

ol, ul {
  margin: 0 0 24px 0;
  padding-left: 24px;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0;
  padding-left: 24px;
}
ol li, ul li {
  line-height: 24px;
  margin: 0;
  padding: 0;
}

dl {
  line-height: 24px;
  margin: 0 0 24px 0;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0 0 0 24px;
}

table {
  width: 100%;
  margin: 2px 0 24px 0;
  padding: 0;
  border: solid 1px #555;
}
table tr {
  line-height: 24px;
  height: auto;
}
table td, table th {
  line-height: 24px;
  margin: 0;
  border-right: solid 1px #555;
}
table th {
  font-weight: normal;
  text-align: left;
}
table thead {
  line-height: 24px;
}
table tbody {
  line-height: 24px;
}

body {
  font-size: 75%;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 112.5%;
  }
}
img {
  display: block;
}

form label {
  width: 95%;
  line-height: 24px;
  display: block;
}
form input[type="text"],
form input[type="password"],
form input[type="select"],
form input[type="search"] {
  width: 90%;
  margin-bottom: 0px;
  display: block;
  padding: 12px;
}
form textarea {
  padding: 12px;
  width: 90%;
  height: 200px;
  line-height: 24px;
  margin-bottom: 5px;
  display: block;
  clear: left;
  overflow: auto;
}
form input[type="radio"],
form input[type="checkbox"] {
  margin: 0px 8px 0px 12px;
  display: inline-block;
}

.radio,
.checkbox {
  padding: 0 0 0 0 !important;
}
.radio ul,
.checkbox ul {
  margin-bottom: -1px !important;
}

.textarea {
  margin-bottom: 23px;
}

legend {
  padding-bottom: 24px;
}

input[type="file"] {
  margin: 0px 6px 3px 6px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  position: relative;
  top: 5px;
  margin-bottom: 24px;
}

form {
  margin-bottom: 24px;
}
form .field-item {
  margin-bottom: 24px;
  padding: 0 0 2px 0;
}
form input {
  border: solid 1px #999;
}

form.stacked label {
  display: block;
}
form.stacked .radio label, form.stacked .checkbox label {
  display: inline-block;
}
form.inline label {
  display: inline-block;
  width: 150px;
  line-height: 24px;
}

.container {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
.list, .radio ul,
.checkbox ul, #masthead .mobile-socialMedia {
  margin: 0;
  padding: 0;
}
.list li, .radio ul li,
.checkbox ul li, #masthead .mobile-socialMedia li {
  margin: 0;
  list-style: none;
}
.list li a, .radio ul li a,
.checkbox ul li a, #masthead .mobile-socialMedia li a {
  padding: 0 5px;
}
.list.horizontal li, .radio ul.horizontal li,
.checkbox ul.horizontal li, #masthead .mobile-socialMedia li {
  display: inline;
}
.list.horizontal li a, .radio ul.horizontal li a,
.checkbox ul.horizontal li a, #masthead .mobile-socialMedia li a {
  display: inline-block;
}
.list.vertical li, .radio ul.vertical li,
.checkbox ul.vertical li, #masthead .vertical.mobile-socialMedia li {
  display: block;
}
.list.vertical li a, .radio ul.vertical li a,
.checkbox ul.vertical li a, #masthead .vertical.mobile-socialMedia li a {
  display: block;
}
.list.left, .radio ul.left,
.checkbox ul.left, #masthead .left.mobile-socialMedia {
  text-align: left;
}
.list.center, .radio ul.center,
.checkbox ul.center, #masthead .center.mobile-socialMedia {
  text-align: center;
}
.list.right, .radio ul.right,
.checkbox ul.right, #masthead .right.mobile-socialMedia {
  text-align: right;
}

a {
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
a:hover {
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

@-webkit-keyframes cwZoom {
  0% {
    background-size: 150% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

@keyframes cwZoom {
  0% {
    background-size: 150% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
body {
  color: #66615D;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.caps {
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  outline: none;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in 0.1s;
          transition: background-color 0.3s ease-in, color 0.3s ease-in 0.1s;
}
a:hover {
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out 0.1s;
          transition: background-color 0.2s ease-out, color 0.2s ease-out 0.1s;
  color: #555;
  text-decoration: none;
}

#menu-item-455 {
  position: relative;
  outline: none;
  font-size: 0.1px;
  padding: 0;
  margin: 0;
}
#menu-item-455 a {
  background: url("../images/svg/icon-home.svg");
  background-position: center right;
  background-size: 55% auto;
  background-repeat: no-repeat;
  display: block !important;
  border: 0 !important;
  color: #fff !important;
}

@media only screen and (max-width: 480px) {
  #menu-item-455 {
    width: 40px;
    height: 40px;
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  #menu-item-455 {
    width: 40px;
    height: 40px;
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-item {
    margin-right: 8px;
  }

  .links-socialMedia,
  .contact-numbers {
    padding-left: 12px;
  }

  #menu-item-455 {
    width: 40px;
    height: 30px;
    margin-right: 8px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .menu-item {
    margin-right: 8px;
  }

  .links-socialMedia,
  .contact-numbers {
    padding-left: 24px;
  }

  #menu-item-455 {
    width: 40px;
    height: 30px;
    margin-right: 8px !important;
  }
}
.section {
  border-bottom: 1px solid #eee;
}

.section-content {
  margin-top: 48px;
}

.grid {
  margin-left: 0 !important;
}
.grid .no-mobile {
  display: inline-block;
}
.grid img {
  width: 100%;
  height: auto;
}
.grid .square {
  padding-left: 0 !important;
}
.grid .sizer {
  position: relative;
  width: 100%;
}
.grid .sizer:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.grid .scaler {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
}
.grid .inner-square {
  padding-left: 0 !important;
}
.grid .square-large {
  padding-left: 0 !important;
}
.grid .square-medium {
  padding-left: 0 !important;
}
.grid .square-small {
  padding-left: 0 !important;
}
.grid .rectangle {
  padding-left: 0 !important;
}
.grid .rectangle-large {
  padding-left: 0 !important;
}

@media only screen and (max-width: 480px) {
  .grid .no-mobile {
    display: none;
  }
}
.button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.button.button-white {
  color: #fff;
}
.button.button-grey {
  color: #66615D;
}

.button-hover {
  margin: 0;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
.button-hover:before {
  content: "";
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.button-hover:hover:before {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button-grey {
  border: 0;
  background-image: url("../images/svg/buttonArrow-grey.svg");
  background-position: right center;
  background-color: transparent;
  padding-right: 24px;
  background-repeat: no-repeat;
  background-size: 15px 20px;
  font-weight: 300;
  display: inline-block;
}
.button-grey:hover {
  background-image: url("../images/svg/buttonArrow-white.svg");
}

.button-white {
  border: 0;
  background-image: url("../images/svg/buttonArrow-white.svg");
  background-position: right center;
  background-color: transparent;
  padding-right: 24px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: #fff;
  background-size: 20px 20px;
  display: inline-block;
}

.customcontactform .submit {
  border: 0;
  background-image: url("../images/svg/buttonArrow-white.svg");
  background-position: right center;
  background-color: transparent;
  padding-right: 24px;
  margin-top: 24px;
  background-repeat: no-repeat;
  background-size: 15px 20px;
  font-weight: 300;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
}

body {
  color: #66615D;
}

a {
  outline: none;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in 0.1s;
          transition: background-color 0.3s ease-in, color 0.3s ease-in 0.1s;
}
a:hover {
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out 0.1s;
          transition: background-color 0.2s ease-out, color 0.2s ease-out 0.1s;
  color: #555;
  text-decoration: none;
}

.not-active {
  display: none;
}

form input {
  border: 0;
}

input {
  border: 0;
}
input:before, input:after {
  content: "";
  display: table;
}
input:after {
  clear: both;
}

.form-button {
  font-size: 1.25em;
  color: #66615D;
}

@media only screen and (max-width: 480px) {
  textarea {
    height: 40px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  textarea {
    height: 80px !important;
  }
}
@media only screen and (min-width: 1024px) {
  textarea {
    height: 150px !important;
  }
}
#masthead:before, #masthead:after {
  content: "";
  display: table;
}
#masthead:after {
  clear: both;
}
#masthead .figure-cwLogo {
  width: 100px;
  height: 100px;
  float: left;
}
#masthead .figure-cwLogo img {
  width: 100px;
  height: 100px;
}
#masthead .mobile-socialMedia {
  display: none;
}
#masthead .mobile-socialMedia a {
  height: 35px;
  width: 35px;
  fill: #F4EDE7;
  border: solid 1px #F4EDE7;
}
#masthead .mobile-socialMedia a:hover {
  fill: #EE2375;
  border: solid 1px #EE2375;
}
#masthead .mobile-home {
  display: none;
}
#masthead .burger-menu {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  display: none;
}

@media only screen and (max-width: 480px) {
  #masthead .figure-cwLogo {
    width: 50px;
    height: 50px;
    float: left;
  }
  #masthead .figure-cwLogo img {
    width: 50px;
    height: 50px;
  }
  #masthead .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    background: #EE2375;
    text-align: center;
  }
  #masthead .nav .main-nav {
    margin: 0;
    padding: 0;
  }
  #masthead .nav .main-nav .menu-item-462 {
    padding: 24px 0;
  }
  #masthead .nav .main-nav .menu-item-462 a {
    border: none;
  }
  #masthead .nav .main-nav a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    border-bottom: solid 1px #fff;
    padding: 12px;
    font-size: 1.25em;
  }
  #masthead .nav .links-socialMedia {
    margin: 24px 0 0 0;
    padding: 0;
  }
  #masthead .nav .links-socialMedia li {
    display: inline-block;
  }
  #masthead .nav .links-socialMedia a {
    display: block;
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
  }
  #masthead .nav .contact-numbers {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  #masthead .mobile-socialMedia {
    display: block;
    float: right;
    margin-top: 7px;
  }
  #masthead .mobile-home {
    display: block;
  }
  #masthead .burger-menu {
    display: block;
    float: right;
    margin-top: 7px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  #masthead .figure-cwLogo {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    float: left;
  }
  #masthead .figure-cwLogo img {
    width: 100px;
    height: 100px;
  }
  #masthead .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    background: #EE2375;
    text-align: center;
  }
  #masthead .nav .main-nav {
    margin: 0;
    padding: 0;
  }
  #masthead .nav .main-nav .menu-item-462 {
    padding: 24px 0;
  }
  #masthead .nav .main-nav .menu-item-462 a {
    border: none;
  }
  #masthead .nav .main-nav a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    border-bottom: solid 1px #fff;
    padding: 12px;
    font-size: 1.25em;
  }
  #masthead .nav .links-socialMedia {
    margin: 24px 0 0 0;
    padding: 0;
  }
  #masthead .nav .links-socialMedia li {
    display: inline-block;
  }
  #masthead .nav .links-socialMedia a {
    display: block;
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
  }
  #masthead .nav .contact-numbers {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  #masthead .mobile-socialMedia {
    display: block;
    float: right;
    margin-top: 28px;
  }
  #masthead .mobile-home {
    display: block;
  }
  #masthead .burger-menu {
    display: block;
    float: right;
    margin-top: 28px;
  }
}
@media only screen and (min-width: 1024px) {
  #masthead .figure-cwLogo {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    float: none;
  }
  #masthead .figure-cwLogo img {
    width: 100px;
    height: 100px;
  }
  #masthead .container {
    position: relative;
  }
  #masthead .nav {
    display: block;
    text-align: left;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    vertical-align: middle;
  }
  #masthead .nav ul {
    display: inline-block;
    vertical-align: middle;
  }
  #masthead .nav ul li {
    display: inline-block;
    vertical-align: middle;
  }
  #masthead .nav .main-nav {
    margin: 0 !important;
    padding: 0;
  }
  #masthead .nav .main-nav a {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #66615D;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: solid 2px #fff;
  }
  #masthead .nav .main-nav a:hover {
    border-bottom: solid 2px #EE2375;
  }
  #masthead .nav .main-nav .current-menu-item a {
    border-bottom: solid 2px #EE2375;
  }
  #masthead .nav .main-nav .mobile-home {
    display: none;
  }
  #masthead .nav .links-socialMedia {
    margin: 0 !important;
  }
  #masthead .nav .links-socialMedia a {
    display: block;
    width: 35px;
    height: 35px;
    border: solid 1px #BBB2A6;
  }
  #masthead .nav .links-socialMedia a:hover {
    border-color: #EE2375;
  }
  #masthead .nav .contact-numbers {
    margin: 0 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  #masthead .nav .contact-numbers li {
    display: block;
    font-size: 0.75em;
  }
  #masthead .nav .contact-numbers li span {
    color: #EE2375;
  }
}
.sidebar {
  position: relative;
}
.sidebar .aside-contact .figure-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.sidebar .aside-contact .figure-background img {
  width: 100%;
}
.sidebar .aside-contact .text {
  position: absolute;
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  z-index: 1;
}
.sidebar h3 {
  color: #fff;
  text-transform: uppercase;
}
.sidebar p {
  color: #fff;
}
.sidebar a.button-white {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  color: #fff;
}
.sidebar a.button-white:hover {
  text-decoration: none;
}
.sidebar .widget h3 {
  color: #EE2375;
  margin-left: 0;
}
.sidebar .widget ul {
  padding: 0;
}
.sidebar .widget ul li {
  list-style-type: none;
}
.sidebar .widget ul li a {
  color: #66615D;
}
.sidebar .widget ul li a:hover {
  text-decoration: none;
}

#footend {
  text-align: center;
  padding: 24px;
}
#footend p {
  color: #999;
}
#footend p a {
  color: #EE2F7F;
}

.home .image-banner {
  background: #66615D url("../images/site/banner-home.jpg") no-repeat;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .image-banner {
    background-size: cover !important;
    -webkit-animation: initial !important;
            animation: initial !important;
  }
}
.page-id-465 .image-banner {
  background: #66615D url("../images/site/banner-about.jpg") no-repeat;
  background-size: cover;
}
.page-id-465 .square {
  overflow: hidden;
}
.page-id-465 .square a figure img {
  ransition-delay: 0.2s;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.page-id-465 .square:hover a figure img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.page-id-465 .rectangle-large {
  position: relative;
  left: 0;
}
.page-id-465 .reveal-body {
  background: #F1EDEA;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .page-id-465 .reveal-body p {
    margin-bottom: 4px;
    font-size: 0.75em;
    line-height: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .page-id-465 .reveal-body p {
    margin-bottom: 12px;
    font-size: 0.75em;
    line-height: 18.04511px;
  }
}
.page-template-page-contact-php .image-banner {
  background: #66615D url("../images/site/banner-contact.jpg") no-repeat;
  background-size: cover;
}
.page-template-page-contact-php .customcontactform .submit {
  border: 0;
  background-image: url("../images/svg/buttonArrow-grey.svg");
  color: #66615D;
}
.page-template-page-contact-php .cpt {
  background: #EE2375;
}
.page-template-page-contact-php .jhb {
  background: #70CBD2;
}
.page-template-page-contact-php .square a {
  color: #fff;
}
.page-template-page-contact-php .square h3, .page-template-page-contact-php .square p, .page-template-page-contact-php .square .button-white {
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .page-template-page-contact-php .customcontactform h4 {
    margin-bottom: 0;
  }
  .page-template-page-contact-php .customcontactform .submit {
    margin-top: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .page-template-page-contact-php .cpt h3, .page-template-page-contact-php .cpt p, .page-template-page-contact-php .jhb h3, .page-template-page-contact-php .jhb p {
    margin-bottom: 18.04511px;
    line-height: 18.04511px;
  }
}
